*{
    margin: 0;
    padding: 0;
}

header>nav{
    margin-top: -5%;
}

header>nav>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 3%;
    background-color:#87A974;

}

.nav_barre>li>a{
    text-decoration: none;
    color: #164D25 ;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 120%;
}

.nav_barre>li>a:hover{
    color: #FDEC40;
}

.banniere{
    width: 100%;
    height: auto;
    margin-top: -1%;
}

.main{
    display: flex;
    justify-content: space-between;
}

.para1{
    text-align: center;
    width: 40%;
    height: auto;
    margin-top: 10%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
}
